/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
html,
body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(250, 250, 250);
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/layout.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.layout_container__Tovb9 {
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: white;
  padding: 0px 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.layout_container__Tovb9 > header {
  height: 60px;
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;
}

.layout_container__Tovb9 > main {
  padding-top: 10px;
}

.layout_container__Tovb9 > footer {
  padding: 100px 0px;
  color: gray;
}

